TAMANO_MEMORIA=64
TAMANO_MINIMO_PARTICION=4
ALGORITMO_MEMORIA=BS
ALGORITMO_REEMPLAZO=FIFO
ALGORITMO_PARTICION_LIBRE=FF
IP_BROKER=127.0.0.1
PUERTO_BROKER=6009
FRECUENCIA_COMPACTACION=1
#LOG_FILE=/home/utnso/tp-2020-1c-Los-Programadores-Del-Covid19/Delibird/Broker/broker.log
LOG_FILE=/home/utnso/Escritorio/tp-2020-1c-Los-Programadores-Del-Covid19/Delibird/Broker/broker.log
DEBUG_MODE=1
